.togglerContainer{
    display: flex;
    justify-content: center
  }
  .togglerContainer>.togglerItem:first-child{
    border-radius: 5px 0 0 5px;
  }
  .togglerContainer>.togglerItem:last-child{
    border-radius: 0 5px 5px 0;
  }
  .togglerItem{
    padding: 5px 20px;
    box-sizing: border-box;
    background: #eee;
  }
  .togglerItem.active{
    background: rgb(235, 175, 11);
  }


  .itemContainer{
    padding: 10px 0px;
  }
  .input{
    border: 2px solid rgb(235, 175, 11);
    border-radius: 5%;
    width: 200px;
    height: 30px;
    background-color: #eee;
  }