
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
 .tab{
    min-height: 50px;
    width: 50%;
    padding: 25px;
    font-family: sans-serif;
    color:#444;
    border:2px solid #4CAF50;
    border-radius: 4px;
    background-color: #eee;
    display:flex;
  }
   
  ul.inline{

    list-style:none;
    padding: 0;
    margin-bottom:0; 
  }
  .tabs-li{
    display:inline-block;
    margin-left:0;
    padding:10px;
    border-bottom:2px solid #eee;
    transition: all .5s;
    font-family:sans-serif;
    font-weight:300;
    cursor:pointer;
    color:#aaa;
    background-color: #eee;
  
  }
  .selected{
    border-top:2px solid #4CAF50;
    border-right:2px solid #4CAF50;
    border-left:2px solid #4CAF50;
    border-bottom:2px solid #eee;
    border-radius: 4px;
    color:rgb(7, 7, 7);
    position: relative;
    z-index: 0.8;
    top: 2px;
  }
  .tabs{
    display: 'inline-block';
    padding: 10;
    margin: 10;
    border-bottom: '4px solid';
    border-bottom-color: '#ccc';
    cursor: 'pointer'
}
  
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  