button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 20px;
    cursor:pointer;
}

.default {
    border: 2px solid #4CAF50;
  }
  
.default:hover {
    background-color: #4CAF50; 
    color: white;
  }

.primary {
    border: 2px solid  rgb(48, 45, 241); 
  }
  
.primary:hover {
    background-color: rgb(48, 45, 241); 
    color: white;
  }

.secondary {
    border: 2px solid  rgb(235, 175, 11);
  }
  
.secondary:hover {
    background-color: rgb(235, 175, 11); 
    color: white;
  }
  
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }