.modal {
    background-color: #eee;
    border-radius: 4px;
    border: 2px solid  rgb(235, 175, 11);
    max-width: 40%;
    z-index: 1;
}
.backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
