
  .card {
    height: 20%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: #eee;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 4px;
    border: 2px solid #4CAF50;
    overflow: hidden;
    /* z-index: 0; */
  }
  .big {
      font-size: 1.2rem;
      height: 20%;
      width: 50%;
      border: 2px solid rgb(48, 45, 241); ;

  }
  .medium {
    font-size: 0.9rem;
    height: 15%;
    width: 40%;
    border: 2px solid #4CAF50;
}
.small {
    font-size: 0.7rem;
    height: 10%;
    width: 30%;
    border: 2px solid rgb(235, 175, 11);

}
    .blog-card a {
      color: inherit;

    }
 
    .meta {
      position: relative;
      /* z-index: 0; */
      height: 200px;
    }
    .photo {
      /* position: absolute; */
      max-width: 80px;
      
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /* background-size: cover;
      background-position: center;
      transition: transform .2s; */
    }

    .description {
      padding: 1rem;
      background: #eee;
      position: relative;
      /* z-index: 1; */
    }
      h1,
      h2 {
        font-family: Poppins, sans-serif;
      }
      h1 {
        line-height: 1;
        margin: 0;
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #4CAF50;
        margin-top: 5px;
      }
      .read-more {
        display: flex;
        flex-direction: row;
        justify-content: center
      }
 
        .read-more  a:after {
            content: "\f061";
            font-family: FontAwesome;
            margin-left: -10px;
            opacity: 0;
            vertical-align: middle;
            transition: margin .3s, opacity .3s;
          }
  
          .read-more  a:hover:after {
            margin-left: 5px;
            opacity: 1;
          }
        
       
/*     
    p {
      position: relative;
      margin: 1rem 0 0;
      &:first-of-type {
        margin-top: 1.25rem;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          background: $color_prime;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }
    &:hover {
      .details {
        left: 0%;
      }
    } */
  
  
    