.slidebar {
    background-color: rgb(81, 81, 97);
    height: 100%;
    border-radius: 4px;
    border: 2px solid  rgb(48, 45, 241);
    max-width: 40%;
    color: white;
    z-index: 1;
    
}
.slidebar-backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.slidebar-li {
    /* position: absolute; */
    width: 100px;
   
    padding: 10px;
}
.slidebar-ul {
    margin-top: 10%;
    text-align: left;
}
.sidebar-button {
    position: fixed;
    top: 3%;
    left: 0%;
    z-index: 1;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid  rgb(48, 45, 241);  
    color: black;
    border-radius: 4px;
    
    margin: 20px;
    cursor:pointer;
}
.sidebar-title {
    color: #eee;
    margin-top: 3%
}