
 .tab{
    min-height: 50px;
    width: 100%;
    padding: 25px;
    font-family: sans-serif;
    color:#444;
  }
   
  ul.inline{

    list-style:none;
    padding: 0;
    margin-bottom:0;
    /* -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px; */
    
  }
  li{
    display:inline-block;
    margin-left:0;
    padding:10px;
    border-bottom:2px solid #eee;
    transition: all .5s;
    font-family:sans-serif;
    font-weight:300;
    cursor:pointer;
    color:#aaa;
  
  }
  .selected{
    border-top:2px solid #4CAF50;
    border-right:2px solid #4CAF50;
    border-left:2px solid #4CAF50;
    border-radius: 4px;
    color:rgb(7, 7, 7);
  }
  .tabs{
    display: 'inline-block';
    padding: 10;
    margin: 10;
    border-bottom: '4px solid';
    border-bottom-color: '#ccc';
    cursor: 'pointer'
}
  
 
    .activeTab {
        display: 'inline-block';
        padding: 10;
        margin: 10;
        border-bottom: '4px solid';
        border-bottom-color: '#000';
        cursor: 'pointer'
    }

    .disabledTab {
        display: 'inline-block';
        padding: 10;
        margin: 10;
        border-bottom: '4px solid';
        border-bottom-color: '#ccc';
        cursor: not-allowed;
    }
    .tabPanels {
      padding: 10 
  }
  