.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}
.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
  border:  2px solid #4CAF50;
  border-radius: 4px;
  }

  .row {
  display: table-row;
  background: #e9e9e9
  }
  
  /* .row :nth-of-type(odd) {
    background: #e9e9e9;
  } */

 
  .row .cell {
  margin-bottom: 10px;
  }
  
  .row .cell:before{
    margin-bottom: 3px;
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: inherit;
    display: block;
  }
    
  .header {
    font-weight: 900;
    color: #ffffff;
    background: #4CAF50
  }
  .header:hover {
    opacity: 0.6 ;
  }

  .cell {
  padding: 6px 12px;
  display: table-cell;
  /* opacity: 0.8 ; */
}
  .cell:hover {
    /* opacity: 0.8 ; */
    background: white;
    color: black
  }