

.bread-crumbs-wrap {
    font-size: 62.5%;

}

.bread-crumbs-container {
    font-size: 1.6rem;
    font-family:  sans-serif;
    color: #2c3f4c;
    background-color: #ffffff;
}

a {
    color: #4CAF50;
    text-decoration: none;
  }
.bread-crumbs-list {
    width: 90%;
    max-width: 768px;
    margin: 1em auto;
    background-color: #edeff0;
    border-radius: 4px;
  }
  .bread-crumbs-list::after{
    clear: both;
    content: "";
    display: table;
  }
  .bread-crumbs-list li{
    display: inline-block;
    float: left;
    margin: 0.5em 0;
  }
  .bread-crumbs-list li::after{

    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #959fa5;
  }
  .bread-crumbs-list li:last-of-type::after {
    display: none;
  }
  .bread-crumbs-list li > * {
    display: inline-block;
    font-size: 1.4rem;
    color: #2c3f4c;
  }
  .bread-crumbs-list li.current > *{
    color: #4CAF50;
  }
  .bread-crumbs-list a:hover {

    color: #4CAF50;
  }