.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(235, 175, 11);
  border-radius: 5px;
  max-width: 40%;
  margin-left: 50px
}